<div class="container">
  <h2 class="text-center mt-4 mb-4">Sửa danh mục mới</h2>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form [formGroup]="editCategoryForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Tên DM</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="name"
              name="nameCategory"
              formControlName="nameCategory"
              placeholder="Tên danh mục"
            />
            <span
              *ngIf="
                !editCategoryForm.get('nameCategory').valid &&
                editCategoryForm.get('nameCategory').touched
              "
              class="help-block"
              >Vui lòng nhập tên danh mục</span
            >
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label"
            >Mô tả DM</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="description"
              name="description"
              formControlName="description"
              placeholder="Mô tả danh mục"
            />
            <span
              *ngIf="
                !editCategoryForm.get('description').valid &&
                editCategoryForm.get('description').touched
              "
              class="help-block"
              >Vui lòng nhập mô tả danh mục</span
            >
          </div>
        </div>
        <div class="form-group row">
          <label for="image" class="col-sm-2 col-form-label">Hình ảnh</label>
          <div class="col-sm-10">
            <input type="file" id="image" (change)="onFileChange($event)" />
          </div>
        </div>
        <div class="form-group row text-center">
          <div class="col-sm-12">
            <a
              class="btn btn-secondary mr-2"
              routerLink="/ManageCategory"
              routerLinkActive="active"
            >
              Trở về
            </a>
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!editCategoryForm.valid"
            >
              Sửa
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<lib-toastify-toast-container [autoClose]="2000"></lib-toastify-toast-container>
