<div class="container">
  <h2 class="text-center mt-4">Quản lý danh mục</h2>
  <button
    class="btn btn-success mt-2 mb-2"
    routerLink="/ManageCategory/Add"
    routerLinkActive="active"
  >
    Thêm danh mục mới
  </button>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Hình ảnh</th>
        <th>Tên danh mục</th>
        <th>Mô tả</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of listCategories">
        <td>
          <img src="{{ category.images }}" height="150px" width="150px" />
        </td>
        <td>{{ category.nameCategory }}</td>
        <td>{{ category.description }}</td>
        <td>
          <button
            type="button"
            class="btn btn-secondary nav-icon mr-2"
            [routerLink]="['/ManageCategory/Edit', category.categoryId]"
          >
            <i class="fas fa-edit"></i>
          </button>
          <button
            type="button"
            class="btn btn-danger nav-icon"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xoá danh mục</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">Bạn có chắc chắn xoá danh mục này không ?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Đóng
          </button>
          <button type="button" class="btn btn-danger">Xoá</button>
        </div>
      </div>
    </div>
  </div>
</div>
