<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Unistore</title>

    <meta name="description" content="Bootstrap template for you store - E-Commerce Bootstrap Template">
    <meta name="keywords" content="unistore, e-commerce bootstrap template, premium e-commerce bootstrap template, premium bootstrap template, bootstrap template, e-commerce, bootstrap template, sunrise digital">
    <meta name="author" content="Sunrise Digital">

    <!-- Bootstrap -->
    <link href="~/Template/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/Template/assets/css/custom.css" rel="stylesheet">
    <link href="~/Template/assets/css/carousel.css" rel="stylesheet">
    <link href="~/Template/assets/css/carousel-recommendation.css" rel="stylesheet">
    <link href="~/Template/assets/ionicons-2.0.1/css/ionicons.css" rel="stylesheet">
    <link href="~/css/Rating.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,100,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- Navbar -->
    <partial name="_Navbar" />

    <div>
        @RenderBody()
    </div>

    <!-- Footer -->
    <partial name="_Footer" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Template/assets/js/jquery-latest.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Template/assets/js/bootstrap.min.js"></script>
    <script src="~/Template/assets/js/core.js"></script>
    <script src="~/Template/assets/js/carousel.js"></script>
    <script src="~/Template/assets/js/carousel-recommendation.js"></script>
    <script src="~/Template/assets/js/catalog.js"></script>
    <script type="text/javascript" src="~/Template/assets/js/jquery-ui-1.11.4.js"></script>
    <script type="text/javascript" src="~/Template/assets/js/jquery.ui.touch-punch.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
