@if (User.Identity.IsAuthenticated)
{
    <li><a asp-controller="Account" asp-action="MyProfile"><span><i class="ion-ios-contact"></i> @User.Identity.Name</span></a></li>
    <li><a href="#"><i class="ion-android-cart"></i> Cart </a></li>
    <li><a asp-controller="Account" asp-action="SignOut"> <i class="ion-android-exit"></i> Logout </a></li>
}
else
{
    <li><a href="#"><i class="ion-android-cart"></i> Cart </a></li>
    <li><a asp-controller="Account" asp-action="SignIn"> <i class="ion-android-person"></i> Login </a></li>
}