<div class="container card-detail">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <i class="fas fa-truck-monster fa-5x"></i>
        <div class="card-body">
          <h5 class="card-title">Giao hàng nhanh</h5>
          <p class="card-text">
            Chỉ cần đặt hàng thì bạn sẽ nhận được ngay trong vòng 1-2 ngày
          </p>
          <button class="btn btn-primary btn-order" [routerLink]="['/Product']">
            Đặt hàng ngay
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <i class="fas fa-bicycle fa-5x"></i>
        <div class="card-body">
          <h5 class="card-title">Giao hàng vừa</h5>
          <p class="card-text">
            Chỉ cần đặt hàng thì bạn sẽ nhận được ngay trong vòng 3-4 ngày
          </p>
          <button class="btn btn-primary btn-order" [routerLink]="['/Product']">
            Đặt hàng ngay
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <i class="fab fa-accessible-icon fa-5x"></i>
        <div class="card-body">
          <h5 class="card-title">Giao hàng chậm</h5>
          <p class="card-text">
            Chỉ cần đặt hàng thì bạn sẽ nhận được ngay trong vòng 5-6 ngày
          </p>
          <button class="btn btn-primary btn-order" [routerLink]="['/Product']">
            Đặt hàng ngay
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
