<div class="container">
  <h2>Sản phẩm được yêu thích</h2>
  <hr />
  <div class="row">
    <div *ngFor="let product of listHotProducts">
      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <a [routerLink]="['/ProductDetail', product.productId]">
            <img
              class="card-img-top img-product"
              src="{{ product.images }}"
              alt="{{ product.name }}"
            />
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">
              {{ product.price | number: "1.0":"en-US" }} VNĐ
            </p>
            <p>
              <span *ngFor="let i of [].constructor(product.rating)">
                <i class="fas fa-star icon"></i>
              </span>
            </p>
            <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-2">
  <h2>Sản phẩm mới</h2>
  <hr />
  <div class="row">
    <div *ngFor="let product of listNewProducts">
      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <a [routerLink]="['/ProductDetail', product.productId]">
            <img
              class="card-img-top img-product"
              src="{{ product.images }}"
              alt="{{ product.name }}"
            />
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">
              {{ product.price | number: "1.0":"en-US" }} VNĐ
            </p>
            <p>
              <span *ngFor="let i of [].constructor(product.rating)">
                <i class="fas fa-star icon"></i>
              </span>
            </p>
            <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
