<div class="container">
  <h2>Sản phẩm mới</h2>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <a routerLink="/ProductDetail" routerLinkActive="active">
          <img
            class="card-img-top img-product"
            src="{{ product1 }}"
            alt="Card image cap"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Áo 1</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product2 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 2</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product1 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 3</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product2 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 4</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product1 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 5</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product2 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 1</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
  </div>
</div>
