<hr class="offset-lg">
<div class="container tags">
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ion-arrow-down-b"></i> Sorting by name
        </button>
        <ul class="dropdown-menu">
            <li class="active"><a href="#"> <i class="ion-arrow-down-c"></i> Name [A-Z]</a></li>
            <li><a href="#"> <i class="ion-arrow-up-c"></i> Name [Z-A]</a></li>
            <li><a href="#"> <i class="ion-arrow-down-c"></i> Price [Low-High]</a></li>
            <li><a href="#"> <i class="ion-arrow-up-c"></i> Price [High-Low]</a></li>
        </ul>
    </div>

    <p>Search by tags</p>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default btn-xs active">
            <input type="radio" name="options" id="option1" checked> All products
        </label>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Filter -->
        <div class="col-sm-3 filter">
            <div class="item">
                <div class="title">
                    <a href="#clear" data-action="open" class="down"> <i class="ion-android-arrow-dropdown"></i> Open</a>
                    <a href="#clear" data-action="clear"> <i class="ion-ios-trash-outline"></i> Clear</a>
                    <h1 class="h4">Type</h1>
                </div>

                <div class="controls">
                    @foreach (var cate in ViewBag.Categorys)
                    {
                        <div class="checkbox-group" data-status="inactive">
                            <div class="checkbox"><i class="ion-android-done"></i></div>
                            <div class="label" data-value="Laptops">@cate.NameCategory</div>
                            <input type="checkbox" name="checkbox" value="">
                        </div>
                    }
                </div>
            </div>

            <br>

            <div class="item">
                <div class="title">
                    <a href="#clear" data-action="open" class="down"> <i class="ion-android-arrow-dropdown"></i> Open</a>
                    <a href="#clear" data-action="clear"> <i class="ion-ios-trash-outline"></i> Clear</a>
                    <h1 class="h4">Manufacturer</h1>
                </div>

                <div class="controls grid">
                    <div class="checkbox-group" data-status="inactive">
                        <div class="checkbox"><i class="ion-android-done"></i></div>
                        <div class="label" data-value="7 in">HP</div>
                        <input type="checkbox" name="checkbox" value="">
                    </div>

                    <div class="checkbox-group" data-status="inactive">
                        <div class="checkbox"><i class="ion-android-done"></i></div>
                        <div class="label" data-value="10 in">Acer</div>
                        <input type="checkbox" name="checkbox" value="">
                    </div>

                    <div class="checkbox-group" data-status="inactive">
                        <div class="checkbox"><i class="ion-android-done"></i></div>
                        <div class="label" data-value="11 in">Apple</div>
                        <input type="checkbox" name="checkbox" value="">
                    </div>

                    <div class="checkbox-group" data-status="inactive">
                        <div class="checkbox"><i class="ion-android-done"></i></div>
                        <div class="label" data-value="14 in">Asus</div>
                        <input type="checkbox" name="checkbox" value="">
                    </div>

                    <div class="checkbox-group" data-status="inactive">
                        <div class="checkbox"><i class="ion-android-done"></i></div>
                        <div class="label" data-value="15 in">Dell</div>
                        <input type="checkbox" name="checkbox" value="">
                    </div>

                    <div class="checkbox-group" data-status="inactive">
                        <div class="checkbox"><i class="ion-android-done"></i></div>
                        <div class="label" data-value="17 in">Lenovo</div>
                        <input type="checkbox" name="checkbox" value="">
                    </div>
                </div>
            </div>
        </div>
        <!-- /// -->
        <!-- Products -->
        <div class="col-sm-9 products">
            <div class="row">
                @foreach (var product in ViewBag.Products)
                {
                    @await Component.InvokeAsync("ProductCard", product);
                }
            </div>

            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true"><i class="ion-ios-arrow-left"></i></span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="disabled"><a href="#">..</a></li>
                    <li><a href="#">10</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true"><i class="ion-ios-arrow-right"></i></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- /// -->
    </div>
</div>
<br>
<br>