.card-body {
  text-align: center;
}

.btn-order {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.btn-order:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.icon {
  color: #f0e68c !important;
}

.card {
  border-radius: 10px;
  margin: 20px;
}
