<div class="container">
  <h2 class="text-center">Tất cả sản phẩm</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <a routerLink="/ProductDetail" routerLinkActive="active">
          <img
            class="card-img-top img-product"
            src="{{ product1 }}"
            alt="Card image cap"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Áo 1</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product2 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 2</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product1 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 3</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product2 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 4</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product1 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 5</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product2 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 1</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product1 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 7</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product2 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 8</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product1 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 9</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product2 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 10</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product1 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 11</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top img-product"
          src="{{ product2 }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Áo 12</h5>
          <p class="card-text">100.000.000 VNĐ</p>
          <p>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
            <i class="fas fa-star icon"></i>
          </p>
          <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
