<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\AssignmentEcommerce_Backend.dll" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
      <httpProtocol>
        <customHeaders>
          <add name="X-Content-Type-Options" value="nosniff"/>
          <add name="X-Xss-Protection" value="1; mode=block"/>
          <add name="X-Frame-Options" value="SAMEORIGIN"/>
          <add name="Referrer-Policy" value="no-referrer-when-downgrade"/>
          <remove name="X-Powered-By" />
          <remove name="X-AspNet-Version" />
          <remove name="Server" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering removeServerHeader="true" />
      </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 33741490-61d1-402e-81ea-79ee342f9179-->