.img-product {
  width: 100%;
  height: auto;
}

.detail {
  margin-top: 50px;
}

.card {
  margin: 20px;
  border-radius: 10px;
}

.card-body {
  text-align: center;
}

.btn-order {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.btn-order:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.icon {
  color: #f0e68c !important;
}

.container {
  margin-top: 20px;
}

.name-product {
  font-weight: bold;
  font-size: 32px;
}

.detail-product {
  margin-left: 20px;
}

.help-block {
  color: red;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: "★ ";
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
