<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ product2 }}" class="img-product" />
    </div>
    <div class="col-md-6 detail">
      <p class="name-product">Áo 1</p>
      <p>100.000.000 VNĐ</p>
      <p>
        <i class="fas fa-star icon"></i>
        <i class="fas fa-star icon"></i>
        <i class="fas fa-star icon"></i>
        <i class="fas fa-star icon"></i>
        <i class="fas fa-star icon"></i>
      </p>
      <p>Mô tả sản phẩm</p>
      <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
    </div>
  </div>

  <div class="container">
    <h2>Sản phẩm liên quan</h2>
    <hr />
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <a routerLink="/ProductDetail" routerLinkActive="active">
            <img
              class="card-img-top img-product"
              src="{{ product1 }}"
              alt="Card image cap"
            />
          </a>
          <div class="card-body">
            <h5 class="card-title">Áo 1</h5>
            <p class="card-text">100.000.000 VNĐ</p>
            <p>
              <i class="fas fa-star icon"></i>
              <i class="fas fa-star icon"></i>
              <i class="fas fa-star icon"></i>
              <i class="fas fa-star icon"></i>
              <i class="fas fa-star icon"></i>
            </p>
            <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top img-product"
            src="{{ product2 }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Áo 2</h5>
            <p class="card-text">100.000.000 VNĐ</p>
            <p>
              <i class="fas fa-star icon"></i>
              <i class="fas fa-star icon"></i>
              <i class="fas fa-star icon"></i>
              <i class="fas fa-star icon"></i>
              <i class="fas fa-star icon"></i>
            </p>
            <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top img-product"
            src="{{ product1 }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Áo 3</h5>
            <p class="card-text">100.000.000 VNĐ</p>
            <p>
              <i class="fas fa-star icon"></i>
              <i class="fas fa-star icon"></i>
              <i class="fas fa-star icon"></i>
              <i class="fas fa-star icon"></i>
              <i class="fas fa-star icon"></i>
            </p>
            <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Bình luận</h2>
    <hr />
    <div class="media">
      <img class="mr-3" src="{{ user }}" alt="Generic placeholder image" />
      <div class="media-body">
        <h5 class="mt-0">Trần Hiếu Nhân</h5>
        Đẹp đẹp !
      </div>
    </div>
    <div class="media">
      <img class="mr-3" src="{{ user }}" alt="Generic placeholder image" />
      <div class="media-body">
        <h5 class="mt-0">Trần Hiếu Nhân</h5>
        Đẹp đẹp !
      </div>
    </div>
    <div class="media">
      <img class="mr-3" src="{{ user }}" alt="Generic placeholder image" />
      <div class="media-body">
        <h5 class="mt-0">Trần Hiếu Nhân</h5>
        Đẹp đẹp !
      </div>
    </div>
  </div>
</div>
