<div class="container">
  <div class="row detail-product">
    <div class="col-md-6">
      <img src="{{ product.images }}" class="img-product" />
    </div>
    <div class="col-md-6 detail">
      <p class="name-product">{{ product.name }}</p>
      <p>{{ product.price | number: "1.0":"en-US" }} VNĐ</p>
      <p>
        <span *ngFor="let i of [].constructor(product.rating)">
          <i class="fas fa-star icon"></i>
        </span>
      </p>
      <p>{{ product.description }}</p>
      <button class="btn btn-primary btn-order">Thêm vào giỏ hàng</button>
    </div>
  </div>

  <div class="container">
    <h2>Sản phẩm liên quan</h2>
    <hr />
    <div class="row">
      <div *ngFor="let product of sameProducts">
        <div class="col-md-4">
          <div class="card" style="width: 18rem">
            <a [routerLink]="['/ProductDetail', product.productId]">
              <img
                class="card-img-top img-product"
                src="{{ product.images }}"
                alt="{{ product.name }}"
              />
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">
                {{ product.price | number: "1.0":"en-US" }} VNĐ
              </p>
              <p>
                <span *ngFor="let i of [].constructor(product.rating)">
                  <i class="fas fa-star icon"></i>
                </span>
              </p>
              <button class="btn btn-primary btn-order">
                Thêm vào giỏ hàng
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container">
    <h2>Bình luận</h2>
    <hr />
    <div class="media">
      <img class="mr-3" src="{{ user }}" alt="Generic placeholder image" />
      <div class="media-body">
        <h5 class="mt-0">Trần Hiếu Nhân</h5>
        Đẹp đẹp !
      </div>
    </div>
    <div class="media">
      <img class="mr-3" src="{{ user }}" alt="Generic placeholder image" />
      <div class="media-body">
        <h5 class="mt-0">Trần Hiếu Nhân</h5>
        Đẹp đẹp !
      </div>
    </div>
    <div class="media">
      <img class="mr-3" src="{{ user }}" alt="Generic placeholder image" />
      <div class="media-body">
        <h5 class="mt-0">Trần Hiếu Nhân</h5>
        Đẹp đẹp !
      </div>
    </div>
  </div> -->
</div>
