.nav-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-custom {
  background-color: white !important;
}

.nav-custom .navbar-nav .nav-link {
  color: black !important;
}

.nav-custom .navbar-nav .nav-link:hover {
  font-weight: 500;
}

.logo {
  height: 50px;
}

.dropdown-item:hover {
  background-color: black !important;
  color: white !important;
}
