<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-custom">
    <div class="container">
      <a class="navbar-brand" routerLink="/Home" routerLinkActive="active">
        <img src="{{ logo }}" class="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/Home" routerLinkActive="active"
              >Trang Chủ <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Product" routerLinkActive="active"
              >Sản Phẩm</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Danh Mục
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div *ngFor="let category of listCategories">
                <a
                  class="dropdown-item"
                  [routerLink]="[
                    '/ProductByCategory',
                    category.nameCategory,
                    category.categoryId
                  ]"
                  >{{ category.nameCategory }}</a
                >
              </div>
            </div>
          </li>
        </ul>

        <button
          type="button"
          class="btn btn-success nav-icon"
          routerLink="/Cart"
          routerLinkActive="active"
        >
          <i class="fas fa-shopping-cart"></i>
        </button>

        <div class="dropdown">
          <button
            class="btn btn-info nav-icon dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-user"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
              class="dropdown-item"
              routerLink="/ManageProduct"
              routerLinkActive="active"
              >Quản lý sản phẩm</a
            >
            <a
              class="dropdown-item"
              routerLink="/ManageCategory"
              routerLinkActive="active"
              >Quản lý danh mục</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
